@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
    font-family: "Lato", sans-serif;
    background-color: #222;
    color: white;
}

.hero {
    background-image: url(images/chalkboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

.hero h1 {
    font-size: 46px;
    margin: 0 0 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

.content h2, .content h3 {
    font-size: 150%;
    margin: 20px 0;
}

.content p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
}


.nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.nav.active {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.nav.active a {
    color: black;
}

.nav.active .container {
    padding: 10px 0px;
}

.nav a.current,
.nav a:hover {
    color: rgb(192,57,43);
    font-weight: bold;
}
